.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#editor-container {
  height: 400px;
}

#splash-screen {
  color: black;
  font-size: 100px;
  padding-top: 18%;
  padding-bottom: 3%;
  height:100%;
  text-align: center;
  vertical-align: center;
}

.splash-button-outer {
  align-items: center;
  height:5%;
  font-size: 16px;
  width:20%;
  margin: auto;
  margin-bottom: 5px;
  border: 3px solid black;
  padding: 10px;
  border-radius: 25px;
}

.splash-button-outer:hover,
.splash-button-inner:hover {
  cursor: pointer;
}

.splash-link,
.splash-link:visited {
  text-decoration: none;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
